#connect-header {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#connect-header .container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#connect-header .container .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

#connect-header .container .logo-container .logo {
  width: 5rem;
}

#connect-header .container .logo-container .logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

#connect-header .container .logo-container .title h1 {
  color: #111;
}
