mat-toolbar {
  background: var(--dark-blue);
  padding: 2rem;
  height: 100px;
}

.logo {
  display: flex;
  width: 5rem;
  cursor: pointer;
}

.logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.menu, mat-icon {
  transform:scale(1.5);
}

mat-icon {
  color: var(--primary-color);
}

.drawer-container {
  height: 100%;
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.drawer-container .drawer {
  width: 100%;
}

.drawer-container .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer-container .menu, mat-icon {
  transform: scale(1.5);
}

.drawer-container mat-icon {
  color: var(--primary-color);
}

.drawer-container .button-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.button-link {
  color: var(--primary-color) !important;
  background: var(--dark-blue) !important;
  font-size: 1.5rem;
  padding: 2rem 0;
}
