<mat-toolbar>
  <div class="logo" (click)="goToHome()" *ngIf="isDesktop">
    <img src="../../../assets/imgs/logo.png" alt="logo" />
  </div>
  <button mat-icon-button class="menu" (click)="toggleMenu()" *ngIf="!isDesktop">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="pages-buttons" *ngIf="isDesktop">
    <ul>
      <li (click)="goToHome()">
        <span>Home</span>
      </li>
      <li (click)="gotToCourse()" *ngIf="isLoggedIn">
        <span>Course</span>
      </li>
      <li (click)="goToProfile()" *ngIf="isLoggedIn">
        <span>Profile</span>
      </li>
      <li>
        <button mat-flat-button (click)="logout()" *ngIf="isLoggedIn">Logout</button>
      </li>
      <li>
        <button mat-flat-button (click)="goToLogin()" *ngIf="!isLoggedIn">Login</button>
      </li>
    </ul>
  </div>
</mat-toolbar>

<div class="drawer-container" *ngIf="showMenu">
  <div *ngIf="!isDesktop" class="drawer">
    <div class="button-container">
      <button mat-flat-button class="button-link" (click)="goToHome()">HOME</button>
      <button mat-flat-button class="button-link" (click)="gotToCourse()" *ngIf="isLoggedIn">COURSE</button>
      <button mat-flat-button class="button-link" (click)="goToProfile()" *ngIf="isLoggedIn">PROFILE</button>
      <button mat-flat-button class="button-link" (click)="logout()" *ngIf="isLoggedIn">LOGOUT</button>
      <button mat-flat-button class="button-link" (click)="goToLogin()" *ngIf="!isLoggedIn">LOGIN</button>
    </div>
  </div>
</div>









