<mat-toolbar>
  <div class="logo" (click)="goToHome()" *ngIf="isDesktop">
    <img src="../../../assets/imgs/logo.png" alt="logo" />
  </div>
  <button mat-icon-button class="menu" (click)="toggleMenu()" *ngIf="!isDesktop">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="pages-buttons" *ngIf="isDesktop">
    <ul>
      <li (click)="gotToCourse()" *ngIf="isLoggedIn">
        <span>Course</span>
      </li>
      <li (click)="goToProfile()" *ngIf="isLoggedIn">
        <span>Profile</span>
      </li>
      <li (click)="goToLogin()" *ngIf="!isLoggedIn">
        <span>Se connecter</span>
      </li>
      <li (click)="goToRegister()" *ngIf="!isLoggedIn">
        <button mat-flat-button>S'inscrire</button>
      </li>
      <li (click)="logout()" *ngIf="isLoggedIn">
        <button mat-flat-button>Se deconnecter</button>
      </li>
    </ul>
  </div>
</mat-toolbar>

<div class="drawer-container" *ngIf="showMenu">
  <div *ngIf="!isDesktop" class="drawer">
    <div class="button-container">
      <button mat-flat-button class="button-link" (click)="goToHome()">Home</button>
      <button mat-flat-button class="button-link" (click)="gotToCourse()" *ngIf="isLoggedIn">Course</button>
      <button mat-flat-button class="button-link" (click)="goToProfile()" *ngIf="isLoggedIn">Profile</button>
      <button mat-flat-button (click)="goToRegister()" *ngIf="!isLoggedIn">S'inscrire</button>
      <button mat-flat-button class="button-link" (click)="goToLogin()" *ngIf="!isLoggedIn">Se connecter</button>
      <button mat-flat-button class="button-link" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
    </div>
  </div>
</div>









