.header {
  background: var(--dark-blue);
}

.header .container {
  max-width: 500px;
  width: 100%;
  padding: 3.5rem 0;
}

.header .container h1, p {
  text-align: start;
  color: var(--primary-color);
}

.header .container button {
  width: 150px;
  padding: 15px 15px;
  border: 1px solid var(--text-color);
  border-radius: 25px;
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.header .container button:hover {
  background: var(--dark-blue);
}

.welcome .title {
  text-align: center;
  margin-bottom: 2rem;
}

.welcome .title h1 {
  font-weight: bold;
  font-size: 2.20rem;
  color: var(--dark-blue);
}

.welcome .title p {
  text-align: center;
  color: var(--dark-blue);
}

.welcome .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.welcome .cards .card {
  width: 250px;
  height: 200px;
  border-radius: 15px;
  border: solid 1px black;
  text-align: center;
  box-shadow: 0px 1px 5px var(--dark-blue);
}

.welcome .cards .card .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  justify-content: center;
}

.welcome .cards .card .card-container .rounded-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: var(--dark-blue);
  margin-bottom: 10px;
}

.welcome .cards .card .card-container .rounded-img .material-symbols-outlined {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.welcome .cards .card .card-container .card-description h4 {
  font-size: .90rem;
  font-weight: bold;
  line-height: 1.50;
  margin: 5px;
  color: var(--dark-blue);
}

.welcome .cards .card .card-container .card-description p {
  text-align: center;
  font-size: .75rem;
  line-height: 1.30;
  margin: 0;
  color: var(--text-color);
}

.cours-populaire h1 {
  font-weight: bold;
  font-size: 2.20rem;
  text-align: center;
  color: var(--dark-blue);
}

.cours-populaire .filtres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.cours-populaire .filtre {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.cours-populaire .filtre input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px transparent;
}

.cours-populaire .filtre input[type="text"] {
  border: none;
  padding: 12px;
  background-color: transparent;
}

.cours-populaire input[type="button"] {
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  transition: background-color 0.3s;
}

.cours-populaire input[type="button"]:hover {
  cursor: pointer;
  background-color: var(--secondary-color-hover);
}

