<section class="header">
  <div class="container">
    <h1>Le Lorem Ipsum est simplement</h1>
    <p>composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie</p>
    <button (click)="goToLogin()">Get Started</button>
  </div>
</section>

<section class="welcome">
  <div class="title">
    <h1>Pourquoi sommes-nous différents des autres ?</h1>
    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
  </div>
  <div class="cards">
    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">school</span>
        </div>
        <div class="card-description">
          <h4>Lorem Ipsum</h4>
          <p>Lorem Ipsum</p>
          <p>Lorem Ipsum</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">school</span>
        </div>
        <div class="card-description">
          <h4>Lorem Ipsum</h4>
          <p>Lorem Ipsum</p>
          <p>Lorem Ipsum</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">school</span>
        </div>
        <div class="card-description">
          <h4>Lorem Ipsum</h4>
          <p>Lorem Ipsum</p>
          <p>Lorem Ipsum</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">school</span>
        </div>
        <div class="card-description">
          <h4>Lorem Ipsum</h4>
          <p>Lorem Ipsum</p>
          <p>Lorem Ipsum</p>
        </div>
      </div>
    </div>
  </div>
</section>
