<p>welcome works!</p>

<section>
  <h1 class="">Pourquoi sommes-nous différents des autres ?</h1>
  <div class="cards">

    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">school</span>
        </div>
        <div class="card-description">
          <h4>Lorem Ipsum</h4>
          <p>Lorem Ipsum</p>
          <p>Lorem Ipsum</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">school</span>
        </div>
        <div class="card-description">
          <h4>Lorem Ipsum</h4>
          <p>Lorem Ipsum</p>
          <p>Lorem Ipsum</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">school</span>
        </div>
        <div class="card-description">
          <h4>Lorem Ipsum</h4>
          <p>Lorem Ipsum</p>
          <p>Lorem Ipsum</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">school</span>
        </div>
        <div class="card-description">
          <h4>Lorem Ipsum</h4>
          <p>Lorem Ipsum</p>
          <p>Lorem Ipsum</p>
        </div>
      </div>
    </div>
  </div>
</section>
