<section class="header_presentation">
  <div class="container">
    <h1>Découvrez Skills Elevate</h1>
    <p>Rejoignez notre communauté dédiée à l'amélioration personnelle et professionnelle à travers le mentorat et l'échange de compétences.</p>
    <button onclick="goToLogin()">Commencez maintenant</button>
  </div>
</section>

<section class="welcome">
  <div class="title">
    <h1>Pourquoi sommes-nous différents des autres ?</h1>
    <p>Nous offrons une plateforme intuitive où chacun peut apprendre, enseigner et grandir, créant ainsi un écosystème d'apprentissage dynamique.</p>
  </div>
  <div class="cards">
    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">school</span>
        </div>
        <div class="card-description">
          <h4>Apprentissage personnalisé</h4>
          <p>Découvrez des parcours d'apprentissage qui s'adaptent à votre niveau et à vos intérêts, à votre propre rythme.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">group</span>
        </div>
        <div class="card-description">
          <h4>Communauté active</h4>
          <p>Rejoignez un réseau de passionnés et de professionnels prêts à partager leurs connaissances et à apprendre les uns des autres.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">trending_up</span>
        </div>
        <div class="card-description">
          <h4>Progression mesurable</h4>
          <p>Suivez vos progrès à travers des évaluations et recevez des feedbacks constructifs pour continuer à vous améliorer.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-container">
        <div class="rounded-img">
          <span class="material-symbols-outlined">access_time</span>
        </div>
        <div class="card-description">
          <h4>Flexibilité totale</h4>
          <p>Apprenez à tout moment et partout, avec des options flexibles adaptées à vos horaires chargés.</p>
        </div>
      </div>
    </div>
  </div>
</section>
