<header id="public-header">
  <div class="navbar">
    <div class="logo" (click)="goToHome()">
      <img src="assets/imgs/logo.png" alt="logo" />
    </div>
    <div class="links">
      <ul>
        <li><a href="">Blog</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>
    <div class="auth_button">
      <button (click)="goToLogin()">Login/Sign Up</button>
    </div>
  </div>
  <div class="line"></div>
</header>
