<section>
  <form (submit)="login()">
    <h1>login</h1>
    <div class="email_input">
      <div class="filtre">
        <span class="material-symbols-outlined">search</span>
        <input type="email" id="email" name="email" placeholder="Email" [(ngModel)]="email" required>
      </div>
    </div>
    <div class="password_input">
      <div class="filtre">
        <span class="material-symbols-outlined">search</span>
        <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>
      </div>
    </div>
    <button type="submit">Login</button>
  </form>
</section>

