<section>
  <mat-card class="example-card">
    <img src="../../../assets/imgs/image.jpg" alt="img">
    <mat-card-content>
      <h2>Title 1</h2>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Rejoidre le cours</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img src="../../../assets/imgs/image.jpg" alt="img">
    <mat-card-content>
      <h2>Title 2</h2>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Rejoidre le cours</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img src="../../../assets/imgs/image.jpg" alt="img">
    <mat-card-content>
      <h2>Title 2</h2>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Rejoidre le cours</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img src="../../../assets/imgs/image.jpg" alt="img">
    <mat-card-content>
      <h2>Title 2</h2>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Rejoidre le cours</button>
    </mat-card-actions>
  </mat-card>
</section>



