<h1 *ngIf="isCoach$ | async" class="section-title">Mes Cours</h1>
<div class="search-container">
  <input type="text" placeholder="Rechercher un cours..." [formControl]="searchQuery">
</div>
<div class="courses-section">
  <mat-card class="course-card" *ngFor="let course of filteredCourses$ | async">
    <img src="{{ course.imageUrl || 'https://picsum.photos/200/300' }}" alt="Image de cours">
    <mat-card-content>
      <h2>{{ course.name }}</h2>
      <p>{{ course.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isCoach$ | async" mat-button (click)="editCourse(course.id)">Modifier ce cours</button>
      <button *ngIf="!(isCoach$ | async)" mat-button (click)="joinCourse(course.id)">Rejoindre le cours</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="isCoach$ | async" class="floating-button">
    <button mat-mini-fab class="add-button" aria-label="Ajouter un cours" (click)="addCourse()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
