section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

mat-card {
  flex: 0 0 auto;
  max-width: 300px;
  margin-top: 2rem;
}

mat-card, img, mat-card-content {
  border-radius: 2rem 2rem 0 0;
}

mat-card-content {
  margin-top: -2rem;
}

mat-card-content, mat-card-actions {
  padding: 0 1.5rem;
  background: #fff;
}

mat-card-actions {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
