@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color:  #fff8e9;
  --secondary-color:  #f9a62a;
  --secondary-color-hover: #da9125;

  --dark-orange: #e25f17;
  --dark-blue: #133544;
  --blue: #2eb29d;

  --title-text-color: #333;
  --text-color: #555;

  --padding-width: 2rem;
  --padding-height: 2rem;

  --card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  @media screen and (min-width: 890px) {
    --padding-width: 8rem;
  }
}

header, section {
  padding: 0 6rem;
  margin-bottom: 8.5rem;
}

h1, p, span, a {
  transition-property: all;
  transition-duration: .15s;
}

h1 {
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -.025em;
  margin: 0;
  color: var(--title-text-color);
}

h4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -.025em;
  margin: 0;
  color: var(--title-text-color);
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-color);
}

/* Add this to style the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color-hover);
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-track:hover {
  background-color: var(--primary-color);
}
